[kimai]
;Here write your creditentials and settings for the the kimai server. For protocol use http or https. Use subfolder if you installed kimai in a subfolder, leave empty if you don't need it.
username=kimaiusername
password=kimaipassword

protocol=http
serverUrl=0.0.0.0
serverPort=80
subfolder=


[rainmeter]
;this section is for rainmeter compatibility. Ignore them if you don't use the Rainmeter skin. If you use my default skins, don't edit this section
;in the path variable please use double blackslashes
rainmeterExePath="C:\\Program Files\\Rainmeter\\Rainmeter.exe"
rainmeterStyleProjectsTitle=styleKimaiProjectsTitle
rainmeterStyleProjects=styleKimaiProjects
rainmeterStyleTasksTitle=styleKimaiTasksTitle
rainmeterStyleTasks=styleKimaiTasks